body {
    background: rgb(52, 52, 52);
    padding: 2rem;
    display: absolute;

  }

img {
    position: flex;
    width: 320px;
    height: 320px;

    
   
}

  
h2 {
    font-family: 'roboto';
    color: rgb(255, 253, 239);
    text-transform: uppercase;
    font-size: 70px;
    font-weight: bold;
    line-height: 1;
  }
  
  span {
    display: block;
  }
  
  span:not(.light) {
    opacity: 0;
            animation: unflash 2s ease-in-out alternate infinite;
            animation: unflash 2s ease-in-out alternate infinite;
  }
  
  span.light {
    position: relative;
    display: inline-block;
  }
  span.light:before {
    position: absolute;
    left: 0;
    top: -10%;
    width: 100%;
    height: 120%;
    background: rgb(255, 230, 186);
            filter: blur(10px);
            filter: blur(10px);
    content: "";
    opacity: 0.1;
            animation: flash  1s ease-in-out alternate infinite;
            animation: flash  1s ease-in-out alternate infinite;
  }
  
  
  @keyframes flash {
    to {
      opacity: 1.8;
    }
  }
  
  @keyframes flash {
    to {
      opacity: 0.5;
    }
  }
  @keyframes unflash {
    to {
      opacity: 1;
    }
  }
  @keyframes unflash {
    to {
      opacity: 0.09;
    }
  }
